/* *{border: 1px solid red;} */
.scoreboard{
  margin-top: 200px;
  transition: .3s ease-out;
}

/* .button{
  margin-top: 10px;
  width:
} */
.game{
  margin-top: 200px;
  opacity: 0;
  height: 200px;
  transition: .3s ease-out;
}

.clock{
  border: 1px solid grey;
  background-color: white;
  padding: 10px;
  width: 40px;
  margin: auto
}

.choice{
  margin: 20px;
}
